<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tggame.bet.dao.mapper.BetMapper">
    <resultMap id="rs_base" type="com.tggame.bet.entity.Bet">
        <result property="id" column="id"/>
        <result property="lotteryId" column="lottery_id"/>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="minBetMoney" column="min_bet_money"/>
        <result property="maxBetMoney" column="max_bet_money"/>
        <result property="odds" column="odds"/>
        <result property="defaultMoney" column="default_money"/>
        <result property="type" column="type"/>
        <result property="payBackPercent" column="pay_back_percent"/>
        <result property="status" column="status"/>
        <result property="summary" column="summary"/>
    </resultMap>


    <sql id="columns">
    id,lottery_id,name,code,min_bet_money,max_bet_money,odds,default_money,type,pay_back_percent,status,summary
    </sql>

    <sql id="where">
        <where>
            <if test="id!=null and id!=''">
                AND id = #{id}
            </if>
            <if test="lotteryIds!=null and lotteryIds!=''">
                AND lottery_id in
                <foreach collection="lotteryIds" index="index" item="stateIn" open="(" separator="," close=")">
                    #{stateIn}
                </foreach>
            </if>
            <if test="name!=null and name!=''">
                AND name = #{name}
            </if>
            <if test="code!=null and code!=''">
                AND code = #{code}
            </if>
            <if test="minBetMoney!=null and minBetMoney!=''">
                AND min_bet_money = #{minBetMoney}
            </if>
            <if test="maxBetMoney!=null and maxBetMoney!=''">
                AND max_bet_money = #{maxBetMoney}
            </if>
            <if test="odds!=null and odds!=''">
                AND odds = #{odds}
            </if>
            <if test="defaultMoneys!=null and defaultMoneys!=''">
                AND default_money in
                <foreach collection="defaultMoneys" index="index" item="stateIn" open="(" separator="," close=")">
                    #{stateIn}
                </foreach>
            </if>
            <if test="types!=null and types!=''">
                AND type in
                <foreach collection="types" index="index" item="stateIn" open="(" separator="," close=")">
                    #{stateIn}
                </foreach>
            </if>
            <if test="payBackPercent!=null and payBackPercent!=''">
                AND pay_back_percent = #{payBackPercent}
            </if>
            <if test="statuss!=null and statuss!=''">
                AND status in
                <foreach collection="statuss" index="index" item="stateIn" open="(" separator="," close=")">
                    #{stateIn}
                </foreach>
            </if>
            <if test="summary!=null and summary!=''">
                AND summary = #{summary}
            </if>
        </where>
    </sql>

</mapper>
