<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tggame.group.dao.mapper.GroupMapper">
    <resultMap id="rs_base" type="com.tggame.group.entity.Group">
        <result property="id" column="id"/>
        <result property="merchantId" column="merchant_id"/>
        <result property="name" column="name"/>
        <result property="tgGroupId" column="tg_group_id"/>
        <result property="tgGameCode" column="tg_game_code"/>
        <result property="domain" column="domain"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="summary" column="summary"/>
        <result property="gameSummary" column="game_summary"/>
    </resultMap>


    <sql id="columns">
        id
        ,merchant_id,name,tg_group_id,tg_game_code,domain,status,create_time,summary,game_summary
    </sql>

    <sql id="where">
        <where>
            <if test="id!=null and id!=''">
                AND id = #{id}
            </if>
            <if test="merchantId!=null and merchantId!=''">
                AND merchant_id = #{merchantId}
            </if>
            <if test="name!=null and name!=''">
                AND name = #{name}
            </if>
            <if test="tgGroupIds!=null and tgGroupIds!=''">
                AND tg_group_id in
                <foreach collection="tgGroupIds" index="index" item="stateIn" open="(" separator="," close=")">
                    #{stateIn}
                </foreach>
            </if>
            <if test="tgGameCodes!=null and tgGameCodes!=''">
                AND tg_game_code in
                <foreach collection="tgGameCodes" index="index" item="stateIn" open="(" separator="," close=")">
                    #{stateIn}
                </foreach>
            </if>
            <if test="domain!=null and domain!=''">
                AND domain = #{domain}
            </if>
            <if test="statuss!=null and statuss!=''">
                AND status in
                <foreach collection="statuss" index="index" item="stateIn" open="(" separator="," close=")">
                    #{stateIn}
                </foreach>
            </if>
            <if test="createTimeBegin!=null">
                AND create_time >= #{createTimeBegin}
            </if>
            <if test="createTimeEnd!=null">
                AND create_time &lt;= #{createTimeEnd}
            </if>
            <if test="summary!=null and summary!=''">
                AND summary = #{summary}
            </if>
            <if test="gameSummary!=null and gameSummary!=''">
                AND game_summary = #{gameSummary}
            </if>
        </where>
    </sql>

</mapper>
